---
layout: piclay
---
<div id="team">
  {{ content }}
  <h2 id="lab">Lab</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3">
    {% for member in team_members %}

    <div class="col-8 d-inline-flex flex-column">
      <p>
        <img src="{{ '/images/teampic/' | url }}{{ member.photo }}" class="img-fluid d-inline-block w-50" />
      </p>
      <div class="col flex-fill ms-0 ps-0 pe-6">
        <h4>{{ member.name }}</h4>
        <p>
          <i>{{ member.info }} <!--<br>email: <{{ member.email }}></i> -->
        </p>
        <ul style="margin: 0; padding: 0; font-size: 14px">
          {% for educ in member.list_educ %}
          <li> {{ educ }} </li>
          {% endfor %}

        </ul>
      </div>
    </div>

    {% endfor %}

  </div>

  <h2 id="alumni">Alumni</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3">
    {% for member in alumni_members %}

    <div class="col-6 clearfix float-start">
      <p>
        <img src="{{ '/images/teampic/' | url }}{{ member.photo }}" class="img-fluid d-inline-block w-50" />
      </p>
      <div class="col flex-fill ms-0 ps-0 pe-6">
        <h4>{{ member.name }}</h4>
        <p>
          <i>{% if member.duration %}{{ member.duration }} <br>{% endif %}Role: {{ member.info }}</i>
        </p>
      </div>
    </div>


    {% endfor %}

  </div>

</div>

